[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/OpenMesh"]
	path = external/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
